# Build outputs
/target/
/.quarkus/
/.local-cache/

# IDE artifacts
/.idea/
*.iml
*.ipr
*.iws
/.vscode/

# Logs & reports
/logs/
*.log
/surefire-reports/
/failsafe-reports/

# Environment & secrets
/.env
/.env.*

keys/

# OS noise
.DS_Store
Thumbs.db

.github/