http:
  middlewares:
    security-headers:
      headers:
        contentTypeNosniff: true
        frameDeny: true
        browserXssFilter: true
        stsSeconds: 31536000
        stsIncludeSubdomains: true
        stsPreload: true
        customResponseHeaders:
          server: ""

    compress:
      compress: {}

    api-strip:
      stripPrefix:
        prefixes:
          - "/api"

